/*Colors variables*/
.registerMain form input[type="submit"] {
  border: 1px solid transparent;
  outline: none;
  background-color: #0facf3;
  border-style: none;
  -webkit-box-shadow: 0 5px #162a3a;
          box-shadow: 0 5px #162a3a;
  cursor: pointer;
  color: #162a3a;
  font-weight: bold;
}

body {
  background-color: #f3fbfe;
}

#loader {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px solid #af81c9;
  border-top-color: #e5e5e5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.registerMain {
  width: 60%;
  background-color: #ffffff;
  margin: 40px auto auto auto;
  padding: 30px;
  border-left: 4px solid #0facf3;
}

.registerMain .heading {
  width: 70%;
  margin: 0 auto;
}

.registerMain form {
  width: 70%;
  margin: 30px auto auto auto;
}

.registerMain form label {
  font-weight: bold;
}

.registerMain form input[type="submit"] {
  width: 80%;
  height: 45px;
  margin: 20px auto;
  display: block;
  font-size: 1.1em;
}

.registerMain form input[type="submit"]:hover {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 3px #162a3a;
          box-shadow: 0 3px #162a3a;
}

.registerMain form .haveAccount {
  text-align: center;
}

.registerMain form .haveAccount a {
  font-weight: 900;
  color: #0facf3;
}

.userInputReg {
  width: 100%;
  height: 50px;
  outline: none;
  border: 2px solid #26292c;
  margin-top: 2px;
  margin-bottom: 15px;
  padding-left: 5px;
}

.focus {
  outline: none;
  border-style: none;
  border: 3px solid #0facf3;
  -webkit-box-shadow: 0px 0px 0px 3px #a1defa;
          box-shadow: 0px 0px 0px 3px #a1defa;
}

.error {
  outline: none;
  border-style: none;
  border: 3px solid #e4134f;
  -webkit-box-shadow: 0px 0px 0px 3px #feeef3;
          box-shadow: 0px 0px 0px 3px #feeef3;
}

.errorMsg {
  background-color: #feeef3;
  padding: 7px 9px;
  position: relative;
  margin-top: 12px;
  margin-bottom: 5px;
  color: #e4134f;
  display: none;
}

.errorMsg i {
  font-size: 13px;
  margin-right: 10px;
  margin-top: 4px;
  float: left;
}

.formInvalidMsg {
  width: 70%;
  margin: 10px auto -20px auto;
  padding: 15px 15px;
  background-color: #e4134f;
  color: #ffffff;
  position: relative;
}

.formInvalidMsg i {
  font-size: 13px;
  margin-right: 10px;
  margin-top: 4px;
  float: left;
}

.formInvalidMsg:before {
  content: "";
  position: absolute;
  border: solid 8px transparent;
  bottom: -15px;
  left: 48%;
  border-top-color: #e4134f;
}

.errorMsg:before {
  content: "";
  position: absolute;
  border: solid 8px transparent;
  top: -15px;
  left: 15px;
  border-bottom-color: #feeef3;
}

.countryCode {
  position: absolute;
  top: 26px;
  left: 4px;
  height: 42px;
  width: 60px;
  outline: none;
  border-style: none;
  text-align: center;
}

.phoneContainer {
  position: relative;
}

#phone {
  padding-left: 62px;
}
/*# sourceMappingURL=register.css.map */